@font-face {
    font-family: MontserratReg;
    src: url(./img/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MontserratMed;
    src: url(./img/Montserrat-Medium.ttf);
}

body{
    font-family: "MontserratMed";
}